body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

header {
    background-color: #152238;
    color: white;
}

.heading {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.hlogo {
    font-size: 16px;
}

div > ul {
    list-style-type: none;
    display: flex;  
}

div > ul > li {
    margin: 0 5px;
    padding: 0.3rem;
    font-size: 16px;
}

.section1 {
    display: inline-flex;
    background-color: #152238;
}

.leftblock {
    display: inline-block;
}

.info {
    color: white;
    
}

.signup1 {
    background-color: blue;
}

.rightblock {
    display: flex;
    background-color: grey;
    
}

.greyimg {
    width: 200px;
    height: 100px;
    position: relative;
}


.infotag {
    color: #152238;
    font-weight: bold;
}

.section2 {
    display:flex;
}

.infotag {
    display:block;
}

.container {
    display: inline-flex;
}

.block {
    display: flex;
}

.bluebox {
    display: inline-block;
    border: 5px solid blue;
    border-radius: 20%;
}

.blocktext {
    display: block;
    font-size: 0.8em;
}






