body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

header {
    background-color: #152238;
    color: white;
}

.heading {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.hlogo {
    font-size: 16px;
}

div > ul {
    list-style-type: none;
    display: flex;
    
}

div > ul > li {
    margin: 0 5px;
    padding: 0.3rem;
    font-size: 16px;
   
}







